body{
    margin:0;
    padding:0;
}

.main {
    display: flex;
    border: solid#808080ce;
    margin:50px;
    height: 1000px; 
    justify-content: space-between;
    align-items: flex-start;
    
}

.subcontainer-1 {
    flex:1;
}

.subcontainer-2 {
    flex:1;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 0.5rem;
    
    
}


.subcontainer-3 {
    flex:1;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;

}

.btn {
    margin-top: 20px;
}
.btn button {
    width: 100px;
    padding :10px ;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif, white;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-color: none;
    background-color: #b83c0b;
    box-shadow:0 0 20px  #b11a21;
    border-radius: 5px;
    transition: all 0.5s;
}


.btn button:hover {
    cursor: pointer;
    box-shadow: 0 0 40px #07090e;
    background-color: #09090a;
    color:#e6eeff;
}
.subcontainer-4 {
    height: 100vh;
    display: flex;
    border: solid#0a0808ce;
    margin-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.tagline {
    width:400px;
    padding-left: 200px;
}
.tagline h2 {
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    
    line-height: 50px;
    color: #0EBAEE;
    font-family: 'Raleway', sans-serif;
}
.cmnt{
    margin: 30px 0 0 80px;

}
.cmnt h2 {
    font-family: cursive;
    
}
.subclass-2{
    
}